
    <section class="uk-padding-large bg-dark">
        <div class="container">
            <div class="" uk-grid>
            <div class="text-center uk-width-2-3@s ">
                <h2 class="text-white">Add Your Property on this <strong class="text-danger">SITE!</strong></h2>
            </div>
            <div class="text-center uk-width-1-3@s">
                <a href="/contact">
                    <h4 class="btn btn-outline-danger btn-lg rounded-pill pl-5 pr-5 font-weight-bold">Contact</h4>
                </a>
            </div>
            </div>
        </div>
    </section>
    
    <footer class="bg-light uk-padding-large">
        <div class="">
            <div class="row">
                <div class="col-md-4 col-12 text-center mb-3">
                    <p>
                        <span class="h4 hammersmithOne bg-dark text-white p-1 pl-3 pr-3 rounded-pill">SantoshProperty</span>
                    </p>
                    <div>
                        <a href="" class="text-dark small">Roadpali |</a>
                        <a href="" class="text-dark small">Kalamboli |</a>
                        <a href="" class="text-dark small">Kharghar </a>
                    </div>
                </div>
                <div class="col-md-4 col-12  mb-3">
                    <div class="text-center">
                        <div class="hammersmithOne">Contact <span uk-icon="icon: phone; ratio: 1;"></span></div>
                        <div class="small">+91 9892274727</div>
                        <div class="small">+91 9082815289</div>
                        <div class="small">+91 9930735109</div>
                    </div>
                </div>
                <div class="col-md-4 col-12  mb-3">
                    <div class="text-center">
                        <div class="hammersmithOne">Visit Us <span uk-icon="icon: location; ratio: 1;"></span></div>
                        <div class="small">Shop no. 4, Siddhivinayak Heights Sector 20, Roadpali,<br> Kalamboli, Panvel, Navi Mumbai, Maharashtra 410218</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <a href="" class="text-dark small">Privacy policy |</a>
                <a href="/contact" class="text-dark small">Feedback |</a>
                <a href="" class="text-dark small">Privacy policy |</a>
                <a href="" class="text-dark small">Privacy policy |</a>
            </div>
        </div>
    </footer>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.13/dist/js/uikit-icons.min.js"></script>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <script src="/js/main.js"></script>


</body>

</html>