<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santosh Property</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/css/uikit.min.css" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&family=Ubuntu&display=swap" rel="stylesheet">

</head>

<body class="bg-light">

    <!-- navbar -->
    <nav id="navBody" class="navbar navbar-expand-lg navbar-light w-100 p-lg-0 p-md-3 bg-dark sticky-top shadow" style="z-index: 999!important;">
      <div class="container">
        <a class="navbar-brand w-25 font-weight-bold text-white" href="/">SantoshProperty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-50" id="navbarNav">
  
            <ul class="navbar-nav nav-overlay ml-auto mr-auto">
                <li class="nav-item active">
                  <a class="nav-link text-light text-center" href="/">Home</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-light text-center" href="#">About</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light text-center" href="/property/test">Add Property</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light text-center" href="/contact">Contact</a>
                </li>
            </ul>
            
            <div class="nav-overlay uk-navbar-right d-lg-block d-none">
  
                <a class="uk-navbar-toggle text-white" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
        
            </div>
        
            <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        
                <div class="uk-navbar-item uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                    </form>
                </div>
        
                <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
        
            </div>
        </div>
        <div class="collapse navbar-collapse w-25" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="border border-danger pl-5 pr-5 rounded-pill bg-danger nav-link text-center text-light" href="#modal-login" uk-toggle>Login</a>
            </li>
            <div id="modal-login" uk-modal>
              <div class="uk-modal-dialog uk-width-1-3@m uk-width-1-2@s">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                
                <div class="p-lg-5 p-4 uk-grid-collapse uk-align-center">
  
                  <div>
                    <h2 class="text-center font-weight-bold hammersmithOne">Welcome Back!</h2>
                    <div class="text-center" >
                      <span uk-icon="icon: user; ratio: 3"></span>
                    </div>
                    <p class="text-center">Login to continue</p><br>
                    <form>
                        <div class="form-group">
                          <label>Email address</label>
                          <input type="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" required>
                        </div> <br>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                    <a href="" class="form-text small text-muted mt-2">forgot password?</a>  
                  </div>

                  <hr>

                  <p>Don't have account? <a href="#modal-register" uk-toggle>Register here!</a></p>

                  <div id="modal-register" uk-modal>
                    <div class="uk-modal-dialog uk-width-1-3@m uk-width-1-2@s">
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                      
                      <div class="p-lg-5 p-4 uk-grid-collapse uk-align-center">
                        <div>
                          <h2 class="text-center font-weight-bold hammersmithOne">Register</h2> <br>
                          <form>
                              <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label>Number</label>
                                <input type="text" class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label>Re-Type Password</label>
                                <input type="password" class="form-control" required>
                              </div> <br>
                              <button type="submit" class="btn btn-primary w-100">Submit</button>
                          </form>
                          <hr>
                          <p>Already have account? <a href="#modal-login" uk-toggle>Login here!</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>