<!DOCTYPE html>
<html lang="en">

<head>
  <title>Santosh Property - Page Not Found</title>
<%- include('./layouts/imports') -%>

<section class="pt-5 pb-5 bg-white w-100">
    <div class="container">
        <div class="d-flex flec-column justify-content-center align-content-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxr_kxHMdAWeIxrfBFaY9Zj8zRbJjwEM_xXQ&usqp=CAU&ec=45761791" alt="">
        </div>
    </div>
</section>

<%- include('./layouts/Footer') -%>