<!DOCTYPE html>
<html lang="en">

<head>
  <title>Santosh Property - Contact Us</title>
<%- include('./layouts/imports') %> 

<section class="pt-5 pb-5">
    <div class="container">
        <h1 class="d-none">Contact Us</h1>
        <div class="row">
            <div class="col-md-6 col-12 p-5">
                <h3 class="text-center font-weight-bold">We'd love to hear from you</h3> <br> <br>
                <% if (messages.error) { %>
                    <div class="uk-alert-danger uk-width-auto" uk-alert>
                      <a class="uk-alert-close" uk-close></a>
                      <p class="text-center"><%= messages.error %></p>
                    </div>
                <% } %>
                <% if (messages.success) { %>
                    <div class="uk-alert-success uk-width-auto" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p class="text-center"><%= messages.success %></p>
                    </div>
                <% } %>
                <div class="text-center breeSerif">
                    <div class="text-danger"><span uk-icon="icon: mail; ratio: 3;"></span></div>
                    <div>santoshproperty1@gmail.com</div>
                </div>
                <p class="text-center h3 breeSerif">OR</p> <br>
                <form action="/user/addenquiry" method="POST">
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="email" name="email" class="form-control form-control-lg hammersmithOne" required>
                    </div>
    
                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" class="form-control form-control-lg hammersmithOne" required>
                    </div>

                    <div class="form-group">
                        <label>Contact Number</label>
                        <input name="contactno" class="form-control form-control-lg hammersmithOne" pattern="[7-9]{1}[0-9]{9}" 
                        title="Enter A Phone Number" required>
                    </div>

                    <div class="form-group">
                        <label>Message (if any)</label>
                        <textarea name="message" class="form-control form-control-lg hammersmithOne" rows="7"></textarea>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-danger rounded-pill pl-5 pr-5 hammersmithOne">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-12 p-5">
                <h3 class="text-center font-weight-bold">Reach out to us directly</h3> <br> <br>
                <div class="row">
                    <div class="col-6 text-center">
                        <span class="text-danger" uk-icon="icon: location; ratio: 2"></span>
                        <hr class="uk-divider-small">
                        <div class="breeSerif">
                            Shop no. 4,<br>Siddhivinayak Heights <br> Sector 20, Roadpali,<br> Kalamboli, Panvel,<br> Navi Mumbai, <br> Maharashtra 410218
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span class="text-danger" uk-icon="icon: phone; ratio: 2"></span>
                        <hr class="uk-divider-small">
                        <div class="breeSerif">
                            <div>+91 9892274727</div>
                            <div>+91 9082815289</div>
                            <div>+91 9930735109</div>
                        </div>
                    </div>
                </div> <br> <br>
                <div class="p-1 text-center embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235.72764899272923!2d73.09302403300389!3d19.035473736434778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e9c6144b6565%3A0x9b69059653c2e869!2sSantosh%20Property!5e0!3m2!1sen!2sin!4v1608048283221!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./layouts/Footer') %> 
