<%- include('./layouts/imports') -%>

<!-- header -->
<header class="header-bg">
    <div class="content-bg">
        <div class="container">
          <p class="text-center display-4 font-weight-bold text-warning hammersmithOne">Santosh Property</p>
          <div class="w-100">
            <ul class="uk-subnav uk-subnav-pill justify-content-center" uk-switcher>
              <li><a class="text-light hammersmithOne" href="">Buy</a></li>
              <li><a class="text-light hammersmithOne" href="">Rent</a></li>
              <li><a class="text-light hammersmithOne" href="">Commercials</a></li>
            </ul>
            <ul class="uk-switcher uk-margin">
              <li>
                <div class="uk-align-center rounded-lg p-4 " style="background-color: rgba(0,0,0,0.6);">
                  <form action="/search" method="GET">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Location</label>
                      <select class="uk-select bg-transparent text-light" name="locality" id="form-stacked-select">
                        <option class="text-dark" value="Roadpali">Roadpali</option>
                        <option class="text-dark" value="Kalamboli">Kalamboli</option>
                        <option class="text-dark" value="kharghar">Kharghar</option>
                      </select>
                      <input type="hidden" name="type" value="Sale"> 
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Status</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="status">
                        <option value="Ready to Move">Ready to Move</option>
                        <option value="Under Construction">Under Construction</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Property Type</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="propertytype">
                        <option value="">Select</option>
                        <optgroup class="text-dark" label="Residental">
                          <option value="Flat/Apartment"> Flat/Apartment </option>
                          <option value="Residential House"> Residential House </option>
                          <option value="Villa"> Villa </option>
                          <option value="Builder Floor Apartment">Builder Floor Apartment </option>
                          <option value="Penthouse"> Penthouse </option>
                          <option value="Studio Apartment"> Studio Apartment </option>
                          <option value="Farm House"> Farm House </option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Bedroom</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="bedrooms">
                        <option class="text-dark" value="1">1 BHK</option>
                        <option class="text-dark" value="2">2 BHK</option>
                        <option class="text-dark" value="3">3 BHK</option>
                        <option class="text-dark" value="more than 3">more than 3 BHK</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label for="exampleFormControlSelect1" class="text-warning">Budget</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="price">
                        <option class="text-dark" value="5 Lac - 10 Lac">5 Lac - 10 Lac</option> 
                        <option class="text-dark" value="10 Lac - 20 Lac">10 Lac - 20 Lac</option>
                        <option class="text-dark" value="20 Lac - 30 Lac">20 Lac - 30 Lac</option>
                        <option class="text-dark" value="30 Lac - 40 Lac">30 Lac - 40 Lac</option>
                        <option class="text-dark" value="40 Lac - 50 Lac">40 Lac - 50 Lac</option>
                        <option class="text-dark" value="50 Lac - 60 Lac">50 Lac - 60 Lac</option>
                        <option class="text-dark" value="60 Lac - 70 Lac">60 Lac - 70 Lac</option>
                        <option class="text-dark" value="70 Lac - 80 Lac">70 Lac - 80 Lac</option>
                        <option class="text-dark" value="80 Lac - 90 Lac">80 Lac - 90 Lac</option>
                        <option class="text-dark" value="90 Lac - 1 Cr">90 Lac - 1 Cr</option>
                        <option class="text-dark" value="1 Cr - 1.5 Cr">1 Cr - 1.5 Cr</option>
                        <option class="text-dark" value="1.5 Cr - 2 Cr">1.5 Cr - 2 Cr</option>
                        <option class="text-dark" value="2 Cr - 2.5 Cr">2 Cr - 2.5 Cr</option>
                        <option class="text-dark" value="2.5 Cr - 3 Cr">2.5 Cr - 3 Cr</option>
                        <option class="text-dark" value="3 Cr - 3.5 Cr">3 Cr - 3.5 Cr</option>
                        <option class="text-dark" value="3.5 Cr - 4 Cr">3.5 Cr - 4 Cr</option>
                      </select>
                    </div>
                    <button class="btn btn-danger uk-width-auto@s uk-width-1-1 ml-sm-3"><span class="p-1" uk-icon="search"></span></button>
                  </form>
                </div>
              </li>
              <li>
                <div class="uk-align-center rounded-lg p-4 " style="background-color: rgba(0,0,0,0.6);">
                  <form action="/search" method="GET">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Location</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="locality">
                        <option class="text-dark" value="Roadpali">Roadpali</option>
                        <option class="text-dark" value="Kalamboli">Kalamboli</option>
                        <option class="text-dark" value="kharghar">Kharghar</option>
                      </select>
                    </div>
                    <input type="hidden" name="type" value="Rent/Lease"> 
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Property Type</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="propertytype">
                        <option value="">Select</option>
                        <optgroup class="text-dark" label="Residental">
                          <option value="Flat/Apartment"> Flat/Apartment </option>
                          <option value="Residential House"> Residential House </option>
                          <option value="Villa"> Villa </option>
                          <option value="Builder Floor Apartment">Builder Floor Apartment </option>
                          <option value="Penthouse"> Penthouse </option>
                          <option value="Studio Apartment"> Studio Apartment </option>
                          <option value="Farm House"> Farm House </option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Bedroom</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="bedrooms">
                        <option class="text-dark" value="1">1 BHK</option>
                        <option class="text-dark" value="2">2 BHK</option>
                        <option class="text-dark" value="3">3 BHK</option>
                        <option class="text-dark" value="more than 3">more than 3 BHK</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label for="exampleFormControlSelect1" class="text-warning">Budget</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="price">
                        <option class="text-dark" value="1000 - 5000">1000 - 5000</option> 
                        <option class="text-dark" value="5000 - 10000">5000 - 10000</option>
                        <option class="text-dark" value="10000 - 15000">10000 - 15000</option>
                        <option class="text-dark" value="15000 - 20000">15000 - 20000</option>
                        <option class="text-dark" value="20000 - 25000">20000 - 25000</option>
                        <option class="text-dark" value="25000 - 30000">25000 - 30000</option>
                        <option class="text-dark" value="30000 - 40000">30000 - 40000</option>
                        <option class="text-dark" value="40000 - 50000">40000 - 50000</option>
                        <option class="text-dark" value="50000 - 60000">50000 - 60000</option>
                        <option class="text-dark" value="60000 - 70000">60000 - 70000</option>
                        <option class="text-dark" value="70000 - 80000">70000 - 80000</option>
                        <option class="text-dark" value="8000 +">8000 +</option>
                      </select>
                    </div>
                  <button class="btn btn-danger uk-width-auto@s uk-width-1-1 ml-sm-3"><span class="p-1" uk-icon="search"></span></button>
                </form>
                </div>
              </li>
              <li>
                <div class="uk-align-center rounded-lg p-4 " style="background-color: rgba(0,0,0,0.6);">
                  <form action="/search" method="GET">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Buy / Lease</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select">
                        <option class="text-dark" value="buy">Buy</option>
                        <option class="text-dark" value="lease">Lease</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Location</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select">
                        <option class="text-dark" value="Roadpali">Roadpali</option>
                        <option class="text-dark" value="Kalamboli">Kalamboli</option>
                        <option class="text-dark" value="kharghar">Kharghar</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Status</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select">
                        <option value="Ready to move">Ready to move</option>
                        <option value="Under construction">Under construction</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Area</label> <br>
                      <input class="uk-input bg-transparent text-light" type="number" id="quantity" name="quantity" min="1" max="5">
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Budget</label>
                      <select class="form-control bg-transparent text-lightbg-transparent text-light font-weight-bold" id="exampleFormControlSelect1">
                        <option class="text-dark">1</option>
                        <option class="text-dark">2</option>
                        <option class="text-dark">3</option>
                        <option class="text-dark">>3</option>
                      </select>
                    </div>
                  <button class="btn btn-danger uk-width-auto@s uk-width-1-1 ml-sm-3"><span class="p-1" uk-icon="search"></span></button>
                </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
</header>

<!-- Property gallery -->
<section class="pt-5 pb-5 bg-light">
    <div class="container">
        <p class="h1 text-center text-dark hammersmithOne">Property Gallery</p>
        <hr class="uk-align-center hr-custom">
        <div class="row row-cols-1 row-cols-md-4">
          <% var i = 8 %> 
            <% while  (i!=0) {%> 
            <div class="col mb-4">
              <div class="card h-100 shadow p-2">
                <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="./property?type=residential&id=5fe5f84de612592fb8a3ba94" class="card-title text-danger h4 hammersmithOne">Card title</a>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
              </div>
            </div>
          <% i = i-1 %> 
          <% } %> 
        </div>
        <div class="text-center m-5">
          <a href="" class="btn btn-lg btn-outline-danger font-weight-bold rounded-pill">More Properties</a>
        </div>
    </div>
</section>

<!-- Property Collections -->
<section class="pt-5 pb-5 bg-white shadow">
  <div class="container">
    <p class="h1 text-center hammersmithOne">Top Properties</p>
    <hr class="hr-custom uk-align-center">
    
    <div uk-slider="clsActivated: uk-transition-active; center: false">

      <div class="uk-position-relative uk-visible-toggle">
  
          <div class="uk-slider-container uk-light">
              <ul class="uk-slider-items uk-grid">
                  <li class="uk-width-3-4">
                      <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                      <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Bottom</h3>
                        <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                  </li>
                  <li class="uk-width-3-4">
                    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                      <h3 class="uk-margin-remove">Bottom</h3>
                      <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </li>
                  <li class="uk-width-3-4">
                    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                      <h3 class="uk-margin-remove">Bottom</h3>
                      <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                  </li>
                  <li class="uk-width-3-4">
                    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                      <h3 class="uk-margin-remove">Bottom</h3>
                      <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </li>
                  <li class="uk-width-3-4">
                    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                      <h3 class="uk-margin-remove">Bottom</h3>
                      <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </li>
                  <li class="uk-width-3-4">
                    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                      <h3 class="uk-margin-remove">Bottom</h3>
                      <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </li>
              </ul>
          </div>
  
          <div class="uk-hidden@s uk-light">
              <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>
  
          <div class="uk-visible@s">
              <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>
  
      </div>
  
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  
  </div>

  </div>
</section>

<%- include('./layouts/Footer') -%>
