<%- include('./layouts/imports') %> 

<section class="bg-dark">
    <div class="container">
        <div class="pt-5 pb-5 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h2 class="text-warning hammersmithOne">Comfortable Apartment in Palace</h2>
                    <span class="text-white" uk-icon="icon: location"></span><span class="text-white"> 200/A, Greenland, Texaro, USA</span> <br> <br>
                    <a href="/contact">
                        <h4 class="btn btn-danger  rounded-pill pl-5 pr-5 font-weight-bold">Contact</h4>
                    </a>
                    <a href="#">
                        <h4 class="btn btn-outline-danger rounded-pill pl-5 pr-5 font-weight-bold">Save</h4>
                    </a>
                </div>
                <div class="col-md-6 col-12 p-4">
                    <div class="uk-child-width-1-3 text-center" uk-grid>
                        <div>
                            <div class="text-warning">Bedroom</div>
                            <div class="text-white">2</div>
                        </div>
                        <div>
                            <div class="text-warning">Bedroom</div>
                            <div class="text-white">2</div>
                        </div>
                        <div>
                            <div class="text-warning">Balcony</div>
                            <div class="text-white">1</div>
                        </div>
                        <div>
                            <div class="text-warning">Super area</div>
                            <div class="text-white">1050 sqft</div>
                        </div>
                        <div>
                            <div class="text-warning">Furnished Status</div>
                            <div class="text-white">Semi-furnished</div>
                        </div>
                        <div>
                            <div class="text-warning"></div>
                            <div class="text-white">1</div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="text-warning text-center font-weight-bold uk-hidden@s">₹ 4000</h2>
            <h2 class="text-warning text-right font-weight-bold uk-visible@s">₹ 4000</h2>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 600; animation: push">

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" uk-cover>
                </li>
            </ul>
        
            <a class="bg-light text-dark rounded-circle uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="bg-light text-dark rounded-circle uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
        </div>
    </div>
</section>

<%- include('./layouts/Footer') %> 
