<%- include('./layouts/imports') -%>
    <div class="uk-background-muted p-4 ">
        <div class="container mt-4 ">
            <div class="d-flex w-100 justify-content-center mb-4">
                <h3>
                    100 Properties matching your preference
                </h3>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <div class="uk-background-default p-5 shadow">
                        <p class="text-center mb-4" style="font-weight: 600;"><span uk-icon="settings"></span>Filters
                        </p>
                        <form action="">
                            <label for="Range" class="text-center">Budget</label>
                            <input type="range" class="form-control-range" min="0" max="100" value="0" id="Range"
                                name="Range">
                            <output id="amount" name="amount" class="mb-2" for="Range">0</output>

                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="rent">
                                <label class="form-check-label" for="rent">
                                    Rent
                                </label>
                            </div>

                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="buy">
                                <label class="form-check-label" for="buy">
                                    Buy
                                </label>
                            </div>

                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="furnished">
                                <label class="form-check-label" for="furnished">
                                    Furnished
                                </label>
                            </div>

                            <br>
                            <label for="builtUpArea">BuiltUp Area</label>
                            <div class="input-group">
                                <input type="text" id="builtUpArea"
                                    class="form-control border-top-0 border-left-0 border-right-0"
                                    name="builtUpArea"><span>
                                    <select name="builtUpArea"
                                        class="form-control border-top-0 border-left-0 border-right-0"
                                        class="form-control" id="builtUpArea">
                                        <option value="Sqft">Sqft</option>
                                        <option value="Acer">Acer</option>
                                        <option value="Sq-M">Sq-M</option>
                                    </select>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="">
                        <% for(var i=0; i< 10; i++) {%>
                            <div class="card mb-4 shadow rounded">
                                <div class="row card-body">
                                    <div class="col-4">
                                        <img src="https://images.pexels.com/photos/1396132/pexels-photo-1396132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            alt="Img" height="500px">
                                    </div>
                                    <div class="col-8">

                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/js/searchPage.js"></script>
    <%- include('./layouts/Footer') -%>