<%- include('./layouts/imports') -%>

<section class="mt-5 mb-5">
    <div class="container">
        <p class="h1 text-center text-dark hammersmithOne">Dashboard</p>
        <hr class="uk-align-center hr-custom">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="border rounded-lg shadow-sm uk-padding">
                    <p class="text-center h2 font-weight-bold hammersmithOne">Profile</p>
                    <hr>
                    <div class="text-center"> 
                        <span uk-icon="icon: user; ratio: 3"></span>
                    </div> <br><br>
                    <div class="text-center">
                        <p>Name: Terry</p>
                        <p>Phone: 9898989898</p>
                        <p>Email: joker@dc</p>
                        <a href="" class="text-light bg-dark p-1 rounded" uk-icon="icon: pencil; ratio: 1.5"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="border rounded-lg shadow-sm uk-padding">
                    <p class="text-center h2 font-weight-bold hammersmithOne">Saved properties</p> <hr>
                    <div class="row row-cols-1 row-cols-md-2">
                        <% var i = 6 %> 
                          <% while  (i!=0) {%> 
                          <div class="col mb-4">
                            <div class="card h-100 shadow-sm p-2">
                              <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                              <div class="card-body">
                                <a href="./property-detail" class="card-title text-danger h4 hammersmithOne">Card title</a>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                              <div class="card-footer">
                                  <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                          </div>
                        <% i = i-1 %> 
                        <% } %> 
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./layouts/Footer') -%>
